{% extends "./index.html"%} 
{%block content%}
<div class="grid-body">
  <h1>Yodlr Registration Portal</h1>

<form class="form-style-4" action="/users" method="post">
<label for="firstName">Enter Your First Name:<input type="text" name="firstName" required="true" />
</label>
<label for="lastName">Enter Your Last Name<input type="text" name="lastName" required="true" />
</label>
<label for="email">Email Address</span><input type="email" name="email" required="true" />
</label>
<label>
<input type="submit" value="Submit" />
</label>
</form>
  <p>
    <a href="/admin">Admin Page</a>
  </p>
</div>
{%endblock%}
