* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.header-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: cadetblue;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 4fr 1fr;
  grid-template-areas:
    ". header header ."
    ".  grid-body grid-body ."
    ". grid-body grid-body ."
    ". footer footer .";
}

.grid-body {
  place-self: center;
  grid-area: grid-body;
}

/** FORM STYLES **/
.form-style-4 input[type="submit"],
.form-style-4 input[type="button"],
.form-style-4 input[type="text"],
.form-style-4 input[type="email"],
.form-style-4 textarea,
.form-style-4 label {
  color: black;
}

.form-style-4 label {
  display: block;
  margin-bottom: 10px;
}
.form-style-4 label > span {
  display: inline-block;
  float: left;
  width: 150px;
}
.form-style-4 input[type="text"],
.form-style-4 input[type="email"] {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83a4c5;
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
}
.form-style-4 textarea {
  font-style: italic;
  padding: 0px 0px 0px 0px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed #83a4c5;
  width: 275px;
  overflow: hidden;
  resize: none;
  height: 20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type="text"]:focus,
.form-style-4 input[type="email"]:focus,
.form-style-4 input[type="email"] :focus {
  border-bottom: 1px dashed #d9ffa9;
}

.form-style-4 input[type="submit"],
.form-style-4 input[type="button"] {
  background: #576e86;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: #a8bace;
}
.form-style-4 input[type="submit"]:hover,
.form-style-4 input[type="button"]:hover {
  background: #394d61;
}
